<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h3>Hi
    <%= @email.first_name %>
  </h3>
  <h3>Thanks so much for reaching out!</h3>
  <p>I am looking forward to connecting soon.</p>
  <br /> 
  <p>Steven Sylvester <br />Assistant Professor<br />History & Political Science Department<br />Utah Valley University<br />Office: CB 203G</p>
</body>

</html>